@use './variables.scss' as var;

@mixin container {
	max-width: 1600px;
	padding: 0 10px;
	margin: 0 auto;
}

@mixin button-styles($bg-color) {
	width: 90px;
	padding: 10px 15px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background-color: $bg-color;
	color: white;
	transition: all 0.5s;

	&:hover {
		background-color: darken($bg-color, 15%);
	}
}

@mixin border-shadow {
	border-radius: 5px;
	border: 1px solid var.$accent-color;
	box-shadow: var.$box-shadow;
}
