$main-color: #0c0c0c;
$light-grey: #e9e8ea;
$dark-grey: #4d3e55;
$white: #ffffff;
$accent-color: #491067;
$activated: #bcddca;
$deactivated: #ab6c6c67;
$box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 90%);
